div.callout {
	float: left;
	white-space:nowrap;		/*Important for correctly calculating width of callout*/
	display:none;			/*Hide until directed to show via JS*/
	z-index:1;				/*Ensure we're always on top (e.g. when in header bar)*/
}

div.callout {
	color: #fff;
	background-color: #444;
	position: absolute;
	padding: 8px;
	border-radius: 4px;
	margin-top: 8px;
}

/*Arrow*/
.callout::before {
	content: "";
	width: 0;
	height: 0;
	border: 6px solid transparent;
	position: absolute;
}

.callout.top::before {
	left: 45%;
	top: -10px;
	border-bottom: 6px solid #444;
}