/* Prevent automatic text scaling when viewed on mobiles (e.g. iPhone landscape) */
html {
	-webkit-text-size-adjust: 100%;
}

/*Page structure*/
body {
	margin:0;
	font-size: 12pt;
	line-height: 18pt;
}
#pageContainer {
	margin:0 auto;
	padding: 70px 20px 40px 20px;
	max-width:900px;
	min-width:420px;
}
#pageContent {
	box-shadow: 0px 1px 6px -2px gray;
	border-radius:6px;			/*Need non-chrome equivelants.*/
	display:table;
	width:100%;
}

/*Header*/
#pageHeader {
	vertical-alignment:middle;
	display:table;
	width:100%;
	padding:8px 0;
	position:fixed;
	opacity:0.9;
}
#navContainer {
	margin:0 auto;
	padding: 0 20px;
	max-width:900px;
	min-width:380px;
}

/*Main content columns*/
/*NB: We apply content padding at the article level to permit full-length separators*/
/*NB: Columns use tabular display approach for easy natural layout*/
#bodyColumn {
	display:table-cell;
}
#sideColumn {
	box-sizing: border-box;		/*Ensure width isn't affected by padding*/
	width:224px;
	padding: 25px 22px 42px 22px;
	display:table-cell;
}

/*Blog articles*/
article {
	padding:25px 62px 42px 62px;
	border-bottom:2px solid;
	text-align: justify;
}
article header {
	/*Ensure enough room between header and content (regardless if it's a <p> or not)*/
	margin-bottom:20px;
}
article header h2 {
	/*Shorter space between header and timestamp*/
	margin-bottom:5px;
}
article footer.articleSharing span {
	margin-top:20px;
	font-size:1.25em;
}
#pageContent article:last-of-type {
	/*Remove separation styling from last article on page.*/
	border-bottom: none;
}
article .photo {
	width:97%; 			/*Responsive size, -3% offset for borders*/
	border: 7px solid white;
	border-radius:6px;
	box-shadow: 0 0 6px 0 rgb(153,153,153);
}

/*About box*/
#about {
	font-size:10pt;
	text-align: justify;
	line-height:14pt;
}
#profilePicture {
	width: 180px;
	height:180px;	
	border-radius:50%;
	box-shadow: 0px 1px 6px -2px gray;
}

/*Social links*/
#socialLinks{
	float:right;			/*Should be on the right-hand side of the page.*/
	padding-top:5px;
}
#socialLinks span {
	font-size: 1.5em;
}

/*General icons*/
.icons a {
	border:none;
	margin-right:10px;
}
.icons a:last-of-type {
	/*Remove margin from last icon.*/
	margin:0;
}

/*Headings*/
h1 {
	font-size: 13pt;
	font-weight:normal;
	text-transform: uppercase;
	margin:0;
	padding-top:3px;
	color:white;
/*	text-shadow: 1px 1px 1px #606060; */
}
h2 {
	font-weight:normal;
	font-size: 20pt;
	line-height:29pt;
	text-transform: uppercase;
	margin-bottom:10px;
	margin-top:0;
}
h3 {
	margin-bottom:-5px;
	color: rgb(140, 133, 61);
}

/*Links*/
a {
	text-decoration: none;
	border-bottom:1px solid;
}

.message {
	padding:25px 42px 42px 42px;
}

/*Images*/
#logo {
	width:32px;
	height:32px;
	float:left;
	margin-right:9px;
}

/* Force dimensions on disagreeable Twitter widget */
#twitter-widget-0 {
	width:100% !important;
}

/*Small desktop*/
@media only screen and (max-width: 800px)
{
article {
	padding:25px 32px 42px 32px;
}
#sideColumn {
	padding:25px 12px 42px 12px;
	width:204px;
}
}

/*Mobile view*/
@media only screen and (max-width: 600px)
{
body { 
	margin:0;
}
#pageContainer {
	padding:0;
}
#pageHeader {
	margin-bottom:0;
}
#navContainer {
	padding:0 20px;
}
#pageContent {
	padding-top:50px;
	box-shadow:none;
}
#sideColumn {
	display:none;
}
.message {
	padding:25px 20px 42px 20px;
}
article {
	padding:25px 32px 42px 32px;
}
#about {
	display:none;
}
/*Shift header elements in to be inline with text bounds.*/
#logo{
	margin-left:10px;
}
#socialLinks {
	margin-right:10px;
}
}