@import url(//fonts.googleapis.com/css?family=Roboto+Slab|Oswald);

/*Page structure*/
body {
	background-color:rgb(244,244,226);
	font: 11pt 'Roboto Slab', sans-serif;
	color:rgb(32,32,32);
	margin:0;
	/*background-image:url('/images/sprinkles.png');*/
	background-size:10px 5px;
}
#pageContainer {
	margin:0 auto;
	padding: 75px 20px 40px 20px;
	max-width:960px;
	min-width:380px;
}
#pageContent {
	box-shadow: 0px 1px 6px -2px gray;
	background-color:white;
	border-radius:6px;			/*Need non-chrome equivelants.*/

	/*Ensure the 'About' aside stays within page bounds*/
	display:table;
	width:100%;
}
/*Header*/
#pageHeader {
	vertical-alignment:middle;
	display:table;
	width:100%;
	padding:8px 0;
	background-color:rgb(96,96,96);
	position:fixed;
	opacity:0.9;
/*	border-bottom: 3px solid #FED825;
	background: url('/images/sprinkles_dark.png');
	box-shadow: 0px 1px 6px -2px gray;*/
}
#navContainer {
	margin:0 auto;
	padding: 0 20px;
	max-width:960px;
	min-width:380px;
}
#socialLinks{
	float:right;			/*Should be on the right-hand side of the page.*/
	padding-top:5px;
}
#socialLinks a {
	border:none;
	color:rgb(205,205,205);
	margin-right:10px;
}
#socialLinks a:hover {
	color:rgb(225,225,225);
}

#socialLinks span {
	font-size: 1.5em;
/*	text-shadow: 1px 1px 1px #606060; */
}
#socialLinks a:last-of-type {
	/*Remove margin from last icon.*/
	margin:0;
}

/*Headings*/
h1, h2 {
	color:rgb(48,48,48);
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 13pt;
	font-weight:normal;
	text-transform: uppercase;
	margin:0;
	padding-top:3px;
	color:white;
/*	text-shadow: 1px 1px 1px #606060; */
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight:normal;
	font-size: 20pt;
	text-transform: uppercase;
	margin-bottom:10px;
	margin-top:0;
}

/*Links*/
a {
	color:black;
	text-decoration: none;
	border-bottom:1px solid;
}
a:hover {
	color:gray;
}

/*Blog articles*/
article {
	padding:25px 42px 42px 42px;
	border-bottom:2px solid #E3E4B6;
	min-width:380px;
	text-align: justify;
}

article header {
	/*Ensure enough room between header and content (regardless if it's a <p> or not)*/
	margin-bottom:20px;
}

article header h2 {
	/*Shorter space between header and timestamp*/
	margin-bottom:5px;
}

#pageContent article:last-of-type {
	/*Remove separation styling from last article on page.*/
	border-bottom: none;
}

/*Images*/
#logo {
	width:32px;
	height:32px;
	float:left;
	margin-right:12px;
}

/* Force dimensions on disagreeable Twitter widget */
#twitter-widget-0 {
	width:100% !important;
}

#about {
	float:right; 
	width:180px; 
	padding: 25px 42px 42px 42px;
	background:white; 	/*Ensure we cover any background seam*/
	font-size:10pt;
	text-align: justify;
}
/*Profile picture*/
#about img {
	width: 180px;
	height:180px;	
	border-radius:50%;
	box-shadow: 0px 1px 6px -2px gray;
}

/*Mobile view*/
@media only screen and (max-width: 600px)
{
body { 
	margin:0;
}
#pageContainer {
	padding:0;
}
#pageHeader {
	margin-bottom:0;
}
#navContainer {
	padding:0 20px;
}
#pageContent {
	padding-top:50px;
	box-shadow:none;
}
article {
	padding:25px 20px 42px 20px;
}
#about {
	display:none;
}
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) { 
/* Prevent automatic text scaling when viewed on mobiles (e.g. iPhone landscape) */
html {
   -webkit-text-size-adjust: 100%;
}
/*body {
	background-image: url('/images/sprinkles_@2x.png');
	background-size:10px 5px;
}*/
}