# Enable to redirect all HTTP requests to HTTPS.
# Source: http://kb.sp.parallels.com/en/112135
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteCond %{HTTPS} !=on
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,QSA]
#</IfModule>